@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  font-family: "Inter", sans-serif;
}

body,
html {
  margin: 0%;
  background-color: black;
  color: white;
  overflow-x: hidden;
  user-select: none;
}
